@using SrednjeSkoleApp.Web.Areas.ModulNastavnik.ViewModels
@using SrednjeSkoleApp.Data.Models

@model RazredIndexVM
@{
    ViewData["Title"] = "Razredi";
***REMOVED***

<h2>Razredi</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Skolska godina</th>
            <th>Razred</th>
            <th>Razrednik</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.rows)
        {
            <tr>
                <td>@x.SkolskaGodina</td>
                <td>@x.Razred</td>
                <td>@x.Razrednik</td>
                <td>
                    <a asp-area="ModulNastavnik" asp-action="Detalji" asp-route-id="@x.RazredId" class="btn btn-primary">Detalji</a>
                </td>
            </tr>
    ***REMOVED***
    </tbody>
</table>
