@using SrednjeSkoleApp.Data.Models

@{
    ViewData["Title"] = "Dodaj";
    Predmet p = ViewData["kljuc1"] as Predmet;
***REMOVED***

<div class="form-group">
<form action="/predmet/snimi">
    <input type="hidden" name="studentid" readonly value="@p.PredmetId"/>
    <input type="text" class="form-control" name="naziv" value="@p.Naziv"/>
    <input type="text" class="form-control" name="oznaka" value="@p.Oznaka"/>
    <input type="submit"/>
</form>
