@using SrednjeSkoleApp.Web.Areas.ModulNastavnik.ViewModels
@using Microsoft.VisualStudio.Web.CodeGeneration

@model RazredStavkeAjaxIndexVM
@{
    ViewData["Title"] = "Index";
***REMOVED***

<h2>Učenici u razredu</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Broj u dnevniku</th>
            <th>Ucenik</th>
            <th>Prosjecna ocjena</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.rows)
    {
        <tr>
            <td>@item.RedniBroj</td>
            <td>@item.Ucenik</td>
            <td>@item.ProsjecnaOcjena</td>
            <td>
                <a asp-action="Detalji" asp-route-id="@item.UcenikId" asp-controller="Ucenik" asp-area="ModulNastavnik" class="btn btn-primary">Detalji</a>
            </td>
        </tr>
***REMOVED***
    </tbody>
</table>





