@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels
@model NastavnikDodajVM

@{
    ViewBag.Title = "title";
***REMOVED***

<h2>title</h2>

<form asp-area="ModulAdministrator" asp-action="Snimi" asp-controller="Nastavnik">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#licni">Lični</a></li>
        <li><a data-toggle="tab" href="#kontakt">Kontakt</a></li>
        <li><a data-toggle="tab" href="#obrazovanje">Obrazovanje</a></li>
    </ul>

    <div class="tab-content">
        <div id="licni" class="tab-pane fade in active">
            <h3>Lični podaci</h3>

            <div class="form-group">
                <label>Ime: </label>
                <div>
                    <input asp-for="Ime" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Prezime: </label>
                <div>
                    <input asp-for="Prezime" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Korisničko ime: </label>
                <div>
                    <input asp-for="KorisnickoIme" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Lozinka: </label>
                <div>
                    <input asp-for="Lozinka" type="password" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Aktivan: </label>
                <div>
                    <input asp-for="Aktivan" type="checkbox" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Spol: </label>
                <div>
                    <input asp-for="Spol" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Datum rođenja: </label>
                <div>
                    <input asp-for="DatumRodjenja" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Mjesto rođenja: </label>
                <div>
                    <input asp-for="MjestoRodjenja" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>JMBG: </label>
                <div>
                    <input asp-for="JMBG" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Prebivaliste: </label>
                <div>
                    <input asp-for="Prebivaliste" class="form-control" />
                </div>
            </div>

        </div>

        <div id="kontakt" class="tab-pane fade">
            <h3>Kontakt podaci</h3>

            <div class="form-group">
                <label>Email: </label>
                <div>
                    <input asp-for="Email" type="email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Telefon: </label>
                <div>
                    <input asp-for="Telefon" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Adresa: </label>
                <div>
                    <input asp-for="Adresa" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Grad: </label>
                <div>
                    <input asp-for="Grad" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label>Opstina: </label>
                <div>
                    <input asp-for="Opstina" class="form-control" />
                </div>
            </div>

        </div>
        <div id="obrazovanje" class="tab-pane fade">
            <h3>podaci o obrazovanju</h3>

            <div class="form-group">
                <label>Zvanje: </label>
                <div>
                    <input asp-for="Zvanje" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <label>Datum izbora u zvanje: </label>
                <div>
                    <input asp-for="DatumIzboraUZvanje" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <label>Naucna oblast: </label>
                <div>
                    <input asp-for="NaucnaOblast" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <label>Godina zaposlenja: </label>
                <div>
                    <input asp-for="GodinaZaposlenja" class="form-control" />
                </div>
            </div>
            
            <input type="submit" value="Snimi" class="btn btn-success"/>
        </div>
    </div>
    
</form>