@using Microsoft.AspNetCore.Http
@using SrednjeSkoleApp.Data.Models
@using SrednjeSkoleApp.Web.Helper

@{
    Korisnik korisnik = Context.GetLogiraniKorisnik();
***REMOVED***

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SrednjeSkoleApp</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-lumen.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <script src="/lib/jquery/dist/jquery-3.3.1.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script src="/jsFIT.js"></script>
    <script src="/js/site.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a asp-area="ModulNastavnik" asp-controller="Razred" asp-action="Index" class="navbar-brand">Modul Nastavnik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="ModulNastavnik" asp-controller="Razred" asp-action="Index">Razred </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-area="ModulNastavnik" asp-controller="Ucenik" asp-action="Index">Ucenik</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="ModulNastavnik" asp-controller="Materijali" asp-action="Index">Materijali</a></li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="ModulNastavnik" asp-controller="Obavijest" asp-action="Index">Obavijesti </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Autentifikacija" asp-action="Logout">@(korisnik?.KorisnickoIme), logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - SrednjeSkoleApp</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
