@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels

@model RazredDodajVM
@{
    ViewData["Title"] = "Detalji";
***REMOVED***

<h2>Detalji</h2>

<div>
    <div class="form-group">
        <label>Razred: </label>
        <div>
            <input asp-for="razredBrojcano" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <label>Odjeljenje: </label>
        <div>
            <input asp-for="odjeljenje" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
        <label>Oznaka: </label>
        <div>
            <input asp-for="oznaka" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group">
            <label>Razrednik: </label>
            <div>
                <select asp-for="nastavnikId" asp-items="@Model.nastavnici" class="form-control">
                    <option>(odaberite razrednika)</option>
                </select>
            </div>
        </div>

    <div class="form-group">
        <label>Školska godina: </label>
        <div>
            <select asp-for="skolskaGodinaId" asp-items="@Model.skolskeGodine" class="form-control" readonly>
                <option value="@Model.skolskaGodinaId"></option>
            </select>
        </div>
    </div>
</div>


<div id="nekiID"></div>


<script>
    $(document).ready(function(parameters) {
        $.get("/ModulAdministrator/RazredStavkeAjax/index?id=@Model.id",
            function (rezultat, status) {
                $("#nekiID").html(rezultat);
        ***REMOVED***);
***REMOVED***);
</script>




