@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels

@model RazredDodajVM
@{
    ViewData["Title"] = "Dodaj";
***REMOVED***

<h2>Dodaj</h2>

<form asp-area="ModulAdministrator" asp-action="Snimi" asp-controller="Razred">
   <div class="form-group">
        <label>Razred: </label>
        <div>
            <input asp-for="razredBrojcano" class="form-control" />
            <span asp-validation-for="razredBrojcano" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label>Odjeljenje: </label>
        <div>
            <input asp-for="odjeljenje" class="form-control" />
            <span asp-validation-for="odjeljenje" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label>Razrednik: </label>
        <div>
            <select asp-for="nastavnikId" asp-items="@Model.nastavnici" class="form-control">
                <option>(odaberite razrednika)</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Školska godina: </label>
        <div>
            <select asp-for="skolskaGodinaId" asp-items="@Model.skolskeGodine" class="form-control">
                <option>(odaberite skolsku godinu)</option>
            </select>
        </div>
    </div>

    <input type="submit" value="Snimi" />
</form>


       


