@using SrednjeSkoleApp.Data.Models
@model List<Predmet>

@{
    ViewData["Title"] = "Dodaj";
***REMOVED***

<h2>Predmeti</h2>

<table class="table table-striped">
        <thead>
        <tr>
            <th>Naziv</th>
            <th>Oznaka</th>
            <th>Akcija</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Naziv</td>
                <td>@x.Oznaka</td>
                <td>
                    <a asp-area="ModulAdministrator" asp-action="Detalji" asp-route-id="@x.PredmetId" class="btn btn-info">Detalji</a>
                    <a asp-area="ModulAdministrator" asp-action="Obrisi" asp-route-id="@x.PredmetId" class="btn btn-danger">Obrisi</a>
                </td>
            </tr>
    ***REMOVED***
        </tbody>
    </table>
    
<a asp-area="ModulAdministrator" asp-controller="Predmet" asp-action="Dodaj" class="btn btn-primary">Dodaj</a>
