
@{
    ViewData["Title"] = "Index";
    string error_poruka = (string)TempData["error_poruka"];
***REMOVED***


<h2>Home/Index</h2>
<h2>Dobro došli</h2>

<br />
@Html.ActionLink("DB text", "TestDB", "Home")   << -- Prije nego što kliknete prepravite Connection string. Upišite vaš broj indeksa u naziv DB-a.
<br />


@if (error_poruka != null)
{
    <br/>
    <div class="alert alert-danger">
        @error_poruka
    </div>
***REMOVED***