@using SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels
@model SrednjeSkoleApp.Web.Areas.ModulAdministrator.ViewModels.RazredStavkeAjaxDodajVM

@{
    ViewData["Title"] = "Dodaj";
***REMOVED***

<h2>Dodaj učenika u razred</h2>


<form ajax-poziv="da" ajax-rezultat="nekiID" asp-action="Snimi" asp-area="ModulAdministrator">
    <input type="hidden" name="RazredId" value="@Model.RazredId" />
    <div class="form-group">
        <label>Ucenik: </label>
        <div>
            <select asp-for="UcenikId" asp-items="@Model.ucenici" class="form-control">
                <option>(odaberite ucenika)</option>
            </select>
        </div>
    </div>

    <input type="submit" id="submitButton" value="Snimi" />
</form>




