@using SrednjeSkoleApp.Data.Models


<div class="container">
    
    <h2> Logiranje na sistem </h2>
    <input type="text" class="form-control" name="username" id="username" placeholder="korisničko ime" required autofocus />

    <input type="password" class="form-control" id="password" name="password" placeholder="Lozinka" required />
    <div class="checkbox">
        <label>
            <input type="checkbox" id="zapamti" name="zapamti" />
           Zapamti
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Prijavi se</button>
</div>